<!DOCTYPE html>
<html>

  {% include head.html %}
  <body style="margin-top: 100px;">
  	
    {% include navbar.html %}
    {% include chatbar.html %}

<div class="alert alert-danger  " id="danger-alert">
  <strong><i class="fas fa-lungs-virus"></i> Bệnh viêm đường hô hấp cấp do chủng mới của vi-rút corona (COVID-19): </strong>  Xem thông tin mới nhất từ Bộ Y Tế Việt Nam về dịch COVID-19 - <a href="https://ncov.moh.gov.vn/">Bộ Y Tế</a>
</div>
        {{ content }}

      {% include footer.html %}

  </body>
</html>
