---
layout: default
---
<style>
.navbar-brand{
font-size: 2rem;
}
</style>
<h3><i class="fas fa-search"></i> Tra cứu hồ sơ học sinh - 11 Chuyên Nga</h3>
<div class="content list">
	<div class="alert alert-danger  " id="danger-alert">
  <strong><i class="fas fa-lungs-virus"></i> Bệnh viêm đường hô hấp cấp do chủng mới của vi-rút corona (COVID-19): </strong>  Xem thông tin mới nhất từ Bộ Y Tế Việt Nam về dịch COVID-19 - <a href="https://ncov.moh.gov.vn/">Bộ Y Tế</a>
</div>
{% if site.categories.hoso.posts.size == 0 %}
  <h2>Không có dữ liệu :)</h2>
{% else %}
{% for post in site.categories.hoso %}
  <div class="list-item">
    <h5 class="list-post-title">
      <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
    </h5>
  </div>
{% endfor %}
{% endif %}
</div>
<br>
